<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<title>Cursos</title>
<meta charset="utf-8">
</head>
<header th:replace="layout/layout :: frag-header"></header>
<section class="px-3">
	<div class="card-body" style="text-align: left;">

		<form th:action="@{/courses/save}" th:object="${course}" method="post"
			class="row g-3 needs-validation" novalidate>
			<div class="col-md-4 align-self-start">
				<label for="name" class="form-label">Nombre del Curso</label> <input
					type="text" class="form-control" id="name" th:field="*{name}"
					th:errorclass="'form-control alert-danger'"
					placeholder="Ejemplo: Programación I"> <small
					class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></small>
			</div>

			<div class="col-md-2 align-self-start">
				<label for="cycle" class="form-label">Ciclo</label> <input
					type="text" class="form-control" id="cycle" th:field="*{cycle}"
					th:errorclass="'form-control alert-danger'"> <small
					class="form-text text-danger" th:if="${#fields.hasErrors('cycle')}"
					th:errors="*{cycle}"></small>

			</div>

			<div class="col-md-2 align-self-start">
				<label for="numberCredits" class="form-label">Cantidad de
					Creditos</label> <input type="text" class="form-control" id="numberCredits"
					th:field="*{numberCredits}"
					th:errorclass="'form-control alert-danger'"> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('numberCredits')}"
					th:errors="*{numberCredits}"></small>

			</div>

			<div class="col-md-3">
				<label for="career" class="form-label">Carrera</label> <select
					class="form-select" th:field="*{career}"  th:errorclass="'form-control alert-danger'" required>
					<option value="">Elige una Carrera</option>
					<option th:each="career : ${careers}" th:value="${career.id}"
						th:text="${career.name}"></option>
				</select><small
					class="form-text text-danger" th:if="${#fields.hasErrors('career')}"
					th:errors="*{career}"></small>
			</div>

			<div class="col-md-1 align-self-start mt-5"
				style="text-align: center;">
				<button class="btn" type="submit"
					style="background-color: #18A0FB; color: white">Agregar</button>
			</div>
			<p th:text="${mensaje}" class="form-text text-danger"></p>
		</form>

	</div>
</section>
<hr>
<section class="px-5 pb-5">
	<div class="d-flex justify-content-end">
		<a href="" class="btn btn-lg disabled" tabindex="-1" role="button"
			id="button1" aria-disabled="true"
			style="background-color: #18A0FB; color: white">Borrar Todo</a>
	</div>
	<table class="table align-middle mb-0 mt-3 bg-white text-center">
		<thead class="bg-light">
			<tr class="table">
				<th scope="col"></th>
				<th scope="col">Curso</th>
				<th scope="col">Ciclo</th>
				<th scope="col">Creditos</th>
				<th scope="col">Carrera</th>
				<th scope="col">Acciones</th>
			</tr>
		<tbody>
			<tr th:each="course : ${courses}">
				<td class="text-center"><input class="form-check-input"
					type="checkbox" onclick="javacript:EnableDisableButton(this);"
					th:field="*{courses}" th:value="${course.id}"></td>
				<td th:text="${course.name}"></td>
				<td th:text="${course.cycle}"></td>
				<td th:text="${course.numberCredits}"></td>
				<td th:text="${course.career.name}"></td>
				<td><a class="btn" type="submit" data-bs-toggle="modal"
					th:attr="data-bs-target='#staticBackdrop'+*{course.id}"
					style="background-color: transparent; color: #18A0FB"><i
						class="fa-regular fa-pen-to-square"></i></a>
					<div class="modal fade" th:id="*{'staticBackdrop'+{course.id}}"
						data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:id="*{'staticBackdrop'+{course.id}}">Editar
										Curso</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body" style="text-align: left;">
									<form th:action="@{'/courses/' + ${course.id} + '/update'}"
										method="post">
										<div class="mb-3">
											<label for="newName" class="form-label">Nombre del
												Curso</label> <input type="text" class="form-control" name="newName"
												th:value="*{course.name}">
										</div>
										<div class="mb-3">
											<label for="newCycle" class="form-label">Ciclo</label> <input
												type="text" class="form-control" name="newCycle"
												th:value="*{course.cycle}">
										</div>
										<div class="mb-3">
											<label for="newCreditAmount" class="form-label">Cantidad de
												Creditos</label> <input type="text" class="form-control"
												name="newCreditAmount" th:value="*{course.numberCredits}">
										</div>

										<div class="mb-3">
											<label for="newCareer" class="form-label">Carrera</label> <select
												class="form-select" name="newCareer" required>
												<option selected th:value="${course.career.id}" th:text="*{course.career.name}"></option>
												<option th:each="career : ${careers}"
													th:value="${career.id}" th:text="${career.name}"></option>
											</select>
										</div>

										<div class="mt-5" style="text-align: right;">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn"
												style="background-color: #18A0FB; color: white">Editar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div> <a class="btn" type="submit"
					th:href="@{'/courses/' + ${course.id} + '/delete'}"
					style="background-color: transparent; color: #18A0FB"
					onclick="return confirm('¿Estás seguro de eliminar el curso?')"><i
						class="fa-solid fa-trash-can"></i></a></td>
			</tr>
		</tbody>
	</table>
	<div class="row d-flex justify-content-center">
		<div class="col-md-4" style="text-align: center;"></div>
		<div class="col-md-4" style="text-align: center;"></div>
	</div>

	<!-- Modal  EN EL BOTON EDIT= data-bs-toggle="modal"  data-bs-target="#staticBackdrop"-->
	<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Editar Curso</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{'/courses/' + ${course.id} + '/update'}" th:object="${course}" method="post" novalidate>
							<div class="mb-3">
								<label for="name" class="form-label">Nombre del Curso</label> <input
									type="text" class="form-control" th:field="*{name}" required>
							</div>

							<div class="mb-3">
								<label for="numberCredits" class="form-label">Cantidad de Creditos</label> <input
									type="text" class="form-control" th:field="*{numberCredits}" required>
							</div>

							<div class="mb-3 form-check" style="text-align: center;">
								<button class="btn btn-warning" type="submit">
									<i class="fas fa-save"></i> Editar
								</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancelar</button>
						<button type="button" class="btn"
							style="background-color: #18A0FB; color: white">Editar</button>
					</div>
				</div>
			</div>
		</div> -->
</section>
<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>