<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Listar Curso</title>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<section class="px-3">
		<div class="card-body" style="text-align: left;">

			<form th:action="@{/courses/save}" th:object="${course}"
				method="post" class="row g-3 needs-validation" novalidate>
				<div class="col-md-4 align-self-start">
					<label for="name" class="form-label">Nombre del Curso</label> <input
						type="text" class="form-control" id="name" th:field="*{name}"
						th:errorclass="'form-control alert-danger'"> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></small>
				</div>

				<div class="col-md-2 align-self-start">
					<label for="numberCredits" class="form-label">Cantidad de
						Creditos</label> <input type="text" class="form-control"
						id="numberCredits" th:field="*{numberCredits}"
						th:errorclass="'form-control alert-danger'"> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('numberCredits')}"
						th:errors="*{numberCredits}"></small>

				</div>
				<div class="col-md-1 align-self-start mt-5"
					style="text-align: center;">
					<button class="btn" type="submit"
						style="background-color: #18A0FB; color: white">Agregar</button>
				</div>
			</form>

		</div>
	</section>
	<hr>
	<section class="px-5">
		<table class="table table-striped">
			<thead>
				<tr class="table">
					<th scope="col"></th>
					<th scope="col">Curso</th>
					<th scope="col">Creditos</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${courses}">
					<td class="text-center"><input class="form-check-input"
						type="checkbox" th:field="*{courses}" th:value="${course.id}"></td>
					<td th:text="${course.name}"></td>
					<td th:text="${course.numberCredits}"></td>
					<td><a class="btn" type="submit"
						th:href="@{'/courses/' + ${course.id} + '/edit'}"
						style="background-color: #18A0FB; color: white">Modificar</a> <a
						class="btn" type="submit"
						th:href="@{'/courses/' + ${course.id} + '/delete'}"
						style="background-color: #18A0FB; color: white">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<div class="row d-flex justify-content-center">
			<div class="col-md-4" style="text-align: center;"></div>
			<div class="col-md-4" style="text-align: center;"></div>
		</div>
	</section>
	<!-- <footer th:replace="layout/layout :: frag-footer"></footer> -->
</body>
</html>