<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Listar Curso</title>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<section class="px-3">
		<div class="card-body" style="text-align: left;">

			<form th:action="@{/courses/save}" th:object="${course}"
				method="post" class="row g-3 needs-validation" novalidate>
				<div class="col-md-4">
					<label for="name" class="form-label">Nombre del Curso</label> <input
						type="text" class="form-control" th:field="*{name}">
				</div>

				<div for="numberCredits" class="col-md-2">
					<label class="form-label">Cantidad de Creditos</label> <input
						type="text" class="form-control" th:field="*{numberCredits}">

				</div>
				<div class="col-md-1 align-self-end" style="text-align: center;">
					<button class="btn" type="submit"
						style="background-color: #18A0FB; color: white">Agregar</button>
				</div>
			</form>

		</div>
	</section>
	<hr>
	<section class="px-3">
		<table class="table table-striped">
			<thead>
				<tr class="table">
					<th scope="col"></th>
					<th scope="col">Curso</th>
					<th scope="col">Creditos</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${courses}">
					<td ></td>
					<td th:text="${course.name}"></td>
					<td th:text="${course.numberCredits}"></td>
				</tr>
			</tbody>
		</table>
		<div class="row align-items-start">
			<div class="col-md-4" style="text-align: center;">
				<button class="btn" type="submit"
					th:href="@{'/courses/' + ${course.id} + '/edit'}"
					style="background-color: #18A0FB; color: white">Modificar</button>
			</div>
			<div class="col-md-4" style="text-align: center;">
				<button class="btn" type="submit"
					th:href="@{'/courses/' + ${course.id} + '/delete'}"
					style="background-color: #18A0FB; color: white">Eliminar</button>
			</div>
		</div>
	</section>
	<!-- <footer th:replace="layout/layout :: frag-footer"></footer> -->
</body>
</html>