<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
<title>Perfil</title>
</head>
<body>

	<header th:insert="layout/layout :: frag-header"></header>
	<main>

		<section class="container py-4">
			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold">
						<i class="fa-solid fa-user"></i> Perfil <a sec:authorize="hasRole('ROLE_STUDENT')" class="btn"
							type="submit" th:href="@{'/students/' + ${student.id} + '/edit'}"
							style="background-color: transparent; color: #18A0FB"><i
							class="fa-regular fa-pen-to-square"></i></a>
					</h1>

					<p class="col-md-8 fs-4">
						Username: <span sec:authentication="name"></span>
					</p>
					<div sec:authorize="hasRole('ROLE_TEACHER')">
						<p class="col-md-8 fs-4">
							ID: <span th:text="${teacher.id}"></span>
						</p>
						<p class="col-md-8 fs-4">
							Nombres: <span
								th:text="${teacher.firstName + ' ' + teacher.lastName}"></span>
						</p>
					</div>
					<p sec:authorize="hasRole('ROLE_STUDENT')"
						class="col-md-8 fs-4 fw-bold">
						Nombres y Apellidos: <span
							th:text="${student.firstName + ' ' + student.lastName}"
							class="fst-normal"></span> <br /> DNI: <span
							th:text="${student.dni}" class="fst-normal"></span> <br />
						Numero de Telefono: <span th:text="${student.phoneNumber}"
							class="fst-normal"></span> <br /> Correo Personal: <span
							th:text="${student.emailPersonal}" class="fst-normal"></span> <br />
						Correo Universitario: <span th:text="${student.emailUniversity}"
							class="fst-normal"></span> <br /> Carrera: <span
							th:text="${student.career.name}" class="fst-normal"></span> <br />
					</p>

				</div>
			</div>

		</section>

	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>

</body>
</html>