html, body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

@media ( max-width : 1400px) {
	html {
		font-size: 24px;
	}
	.columnaDerecha {
		display: none;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
}

@media ( max-width : 768px) {
	html {
		font-size: 16px;
	}
	.columnaDerecha {
		display: none;
	}
}

@media ( max-width : 450px) {
	html {
		font-size: 10px;
	}
	.columnaDerecha {
		display: none;
	}
}


.columnaDerecha {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	
}

.textoBienvenida {
	font-size: 2rem;
}

.iconoPerfilBienvenida {
	height: 100%;
	width: 100%;
}

.wrapper {
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}

.contenedor {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
