<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
<title>StudyNow</title>
<link th:href="@{/css/indexStyle.css}" rel="stylesheet">
</head>
<body style="background-color: #007686;">
	<section>
		<div class="row g-0 align-items-center text-center align-middle"
			style="height: 100px;">
			<div class="textoBienvenida col-6 col-md-4 h-100 d-inline-block"
				style="color: white; padding-left: 8rem; padding-right: 8rem">
				Bienvenido a StudyNow
				<div class="w-100"></div>
				<a class="w-100 btn mt-2" type="submit" th:href="@{/login}"
					style="background-color: #18A0FB; color: white">Ingresar</a>
			</div>
			<div class="col-sm-6 col-md-8 mt-5 mb-5" style="color: white">
				<a href="/" class="navbar-brand"> <img th:src="@{/img/logo.png}"
					width="75%" alt="logo">
				</a>
			</div>
		</div>
	</section>
</body>
</html>