<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>StudyNow</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/65219acda5.js"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
<link th:href="@{/css/indexStyle.css}" rel="stylesheet">
</head>
<body style="background-color: #007686;">
	<section class="wrapper">
		<div class="contenedor">
			<div class="row align-items-center align-middle textoBienvenida"
				style="color: white; padding-left: 8rem; padding-right: 8rem">
				<div class="col ">
					Bienvenido a StudyNow
					<div class="w-100"></div>
					<a class="btn mt-2" type="submit" th:href="@{/login}"
						style="background-color: #18A0FB; color: white">Ingresar</a>
				</div>
				<div class="columnaDerecha">
					<img th:src="@{/img/logo.png}" class="mb-5 iconoPerfilBienvenida" />
				</div>
			</div>
		</div>
	</section>
</body>
</html>