<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
<title>StudyNow</title>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<section></section>
	<section>
		<div class="container">
			<div
				class="row g-3 needs-validation justify-content-center align-items-center text-center mt-5 mb-5 ">
				<div class="textoBienvenida h-100 d-inline-block mx-2 col-md-4">
					Bienvenido a StudyNow:
					<div sec:authorize="hasRole('ROLE_ADMINISTRATOR')"
						class="col fw-bold">
						<p
							th:text="${'Administrador: ' + administrator.firstName + ' ' + administrator.lastName}"></p>
					</div>
					<div sec:authorize="hasRole('ROLE_TEACHER')" class="col fw-bold">
						<p
							th:text="${'Profesor: ' + teacher.firstName + ' ' + teacher.lastName}"></p>
					</div>
					<div sec:authorize="hasRole('ROLE_STUDENT')" class="col fw-bold">
						<p
							th:text="${'Estudiante: ' + student.firstName + ' ' + student.lastName}"></p>
					</div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMINISTRATOR')"
					class="iconoPerfilBienvenida h-100 d-inline-block mx-2 col-md-4">
					<i class="fa-solid fa-user-secret"></i>
				</div>
				<div sec:authorize="hasRole('ROLE_STUDENT')"
					class="iconoPerfilBienvenida h-100 d-inline-block mx-2 col-md-4">
					<i class="fa-solid fa-user"></i>
				</div>
				<div sec:authorize="hasRole('ROLE_TEACHER')"
					class="iconoPerfilBienvenida h-100 d-inline-block mx-2 col-md-4">
					<i class="fa-solid fa-user-doctor"></i>
				</div>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMINISTRATOR')"
				class="col align-self-center" style="text-align: center">

				<a class="btn" style="background-color: #18A0FB; color: white; width: 15rem"
					th:href="@{/users}" role="button"> Perfiles de Usuario </a> <a
					class="btn ms-5"
					style="background-color: #18A0FB; color: white; width: 15rem"
					th:href="@{/courses}" role="button"> Cursos </a> <a
					class="btn ms-5"
					style="background-color: #18A0FB; color: white; width: 15rem"
					th:href="@{/sections}" role="button"> Secciones </a><a
					class="btn ms-5"
					style="background-color: #18A0FB; color: white; width: 15rem"
					th:href="@{/enrollments/report}" role="button"> Reporte </a>

			</div>
			<div sec:authorize="hasRole('ROLE_STUDENT')"
				class="col align-self-center" style="text-align: center">

				<a class="btn w-25" style="background-color: #18A0FB; color: white"
					th:href="@{/users/view-profile}" role="button"> Mi Perfil </a> <a
					class="btn w-25 ms-5"
					style="background-color: #18A0FB; color: white"
					th:href="@{/enrollments}" role="button"> Matricula </a>
			</div>
			<div sec:authorize="hasRole('ROLE_TEACHER')"
				class="col align-self-center" style="text-align: center">
				<a class="btn w-25" style="background-color: #18A0FB; color: white"
					th:href="@{/users/view-profile}" role="button"> Mi Perfil </a> <a
					class="btn w-25 ms-5"
					style="background-color: #18A0FB; color: white"
					th:href="@{sections/mySections}" role="button"> Secciones </a>
			</div>
		</div>
	</section>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>