<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/65219acda5.js"></script>
<link rel="shortcut icon" href="#">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
<script type="text/javascript" src="//code.jquery.com/jquery-1.6.2.js"></script>
<title>Lista de Carreras</title>
<script type="text/javascript">    

</script>
</head>
<header th:replace="layout/layout :: frag-header"></header>
<section class="px-3">
	<div class="card-body" style="text-align: left;">

		<form th:action="@{/careers/save}" th:object="${career}" method="post"
			class="row g-3 needs-validation" novalidate>
			<div class="col-md-4 align-self-start">
				<label for="name" class="form-label">Nombre de la Carrera</label> <input
					type="text" class="form-control" id="name" th:field="*{name}"
					th:errorclass="'form-control alert-danger'"
					placeholder="Ejemplo: Arquitectura"> <small
					class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></small>
			</div>
			<div class="col-md-1 align-self-start mt-5"
				style="text-align: center;">
				<button class="btn" type="submit"
					style="background-color: #18A0FB; color: white">Agregar</button>
			</div>
			<p th:text="${mensaje}" class="form-text text-danger"></p>
		</form>

	</div>
</section>
<hr>
<section class="px-5">
	<div class="d-flex justify-content-end">
		<button type="submit" class="btn btn-lg btnBorrarTodo"
			style="background-color: #18A0FB; color: white" disabled="disabled">Borrar
			Todo</button>
	</div>
	<table class="table align-middle mb-0 mt-3 bg-white text-center">
		<thead class="bg-light">
			<tr>
				<th scope="col"></th>
				<th scope="col">ID</th>
				<th scope="col">Nombre de Carrera</th>
				<th scope="col"></th>
			</tr>
		<tbody>
			<tr th:each="career : ${careers}">
				<td class="text-center"><input
					class="form-check-input checkbox" id="codigoCarrera1"
					type="checkbox" th:value="${career.id}"></td>
				<td th:text="${career.id}"></td>
				<td th:text="${career.name}"></td>
				<td><a class="btn editBtn" type="submit" data-bs-toggle="modal"
					th:attr="data-bs-target='#staticBackdrop'+*{career.id}"
					style="background-color: transparent; color: #18A0FB"><i
						class="fa-regular fa-pen-to-square"></i></a>

					<div class="modal fade" th:id="*{'staticBackdrop'+{career.id}}"
						data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Editar
										Carrera</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body" style="text-align: left;">
									<form th:action="@{'/careers/' + ${career.id} + '/update'}"
										method="post">
										<div class="mb-3">
											<label for="newName" class="form-label">Nombre de la
												Carrera</label> <input type="text" class="form-control"
												name="newName" th:value="*{career.name}">
										</div>

										<div class="mt-5" style="text-align: right;">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn"
												style="background-color: #18A0FB; color: white">Agregar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div> <a class="btn" type="submit"
					th:href="@{'/careers/' + ${career.id} + '/delete'}"
					style="background-color: transparent; color: #18A0FB"
					onclick="return confirm('¿Estás seguro de eliminar la carrera?')"><i
						class="fa-solid fa-trash-can"></i></a></td>
			</tr>
		</tbody>
	</table>
	<div class="row d-flex justify-content-center">
		<div class="col-md-4" style="text-align: center;"></div>
		<div class="col-md-4" style="text-align: center;"></div>
	</div>

	<script type="text/javascript">
$(function() {
	$(".checkbox").click(function(){
	$('.btnBorrarTodo').prop('disabled',$('input.checkbox:checked').length == 0);
	});
	});
</script>
</section>
<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>