<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
<title>Nuevo Alumno</title>
<script type="text/javascript">    
	function PasarValor()
	{
	document.getElementById("codigoAlumno2").value = document.getElementById("codigoAlumno1").value;
	}
</script>
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	body {
		background-color: #EFEFEF;
		font-family: 'Abel', sans-serif;
		font-size: 16px;
	}
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
	.perfil:hover {
		background-color: #18A0FB;
	}
}
</style>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<main>
		<section>
			<div class="container">
				<div class="row justify-content-center align-items-center ">
					<div class="card mx-2 mt-2" style="width: 40rem;">
						<div class="card-body">
							<h5 class="card-title">Agregar Datos Alumno</h5>
							<form th:action="@{/students/save}" method="post" novalidate>
								<div class="mb-3">
									<label for="student.id" class="form-label">Codigo</label> <input
										id="codigoAlumno1" type="text" class="form-control"
										th:field="*{student.id}" onkeyup="PasarValor();"
										th:errorclass="'form-control alert-danger'" placeholder="Ejemplo: 202012145" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.id')}"
										th:errors="*{student.id}"></small>
								</div>

								<div class="mb-3">
									<label for="student.firstName" class="form-label">Nombres</label>
									<input type="text" class="form-control"
										th:field="*{student.firstName}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.firstName')}"
										th:errors="*{student.firstName}"></small>
								</div>

								<div class="mb-3">
									<label for="student.lastName" class="form-label">Apellidos</label>
									<input type="text" class="form-control"
										th:field="*{student.lastName}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.lastName')}"
										th:errors="*{student.lastName}"></small>
								</div>

								<div class="mb-3">
									<label for="student.dni" class="form-label">DNI</label> <input
										type="text" class="form-control" th:field="*{student.dni}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.dni')}"
										th:errors="*{student.dni}"></small>
								</div>

								<div class="mb-3">
									<label for="student.phoneNumber" class="form-label">Celular</label>
									<input type="text" class="form-control"
										th:field="*{student.phoneNumber}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.phoneNumber')}"
										th:errors="*{student.phoneNumber}"></small>
								</div>

								<div class="mb-3">
									<label for="student.emailPersonal" class="form-label">Correo Personal</label>
									<input type="text" class="form-control"
										th:field="*{student.emailPersonal}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.emailPersonal')}"
										th:errors="*{student.emailPersonal}"></small>
								</div>

								<div class="mb-3">
									<label for="student.emailUniversity" class="form-label">Correo Universitario</label>
									<input type="text" class="form-control"
										th:field="*{student.emailUniversity}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.emailUniversity')}"
										th:errors="*{student.emailUniversity}"></small>
								</div>

								<div class="mb-3">
									<label for="student.cycle" class="form-label">Ciclo</label>
									<input type="text" class="form-control"
										th:field="*{student.cycle}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.cycle')}"
										th:errors="*{student.cycle}"></small>
								</div>
								
								<div class="mb-3">
									<label for="student.creditAmount" class="form-label">Cantidad de Creditos</label>
									<input type="text" class="form-control"
										th:field="*{student.creditAmount}"
										th:errorclass="'form-control alert-danger'" required>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('student.creditAmount')}"
										th:errors="*{student.creditAmount}"></small>
								</div>

								<div class="mb-3">
									<label for="student.career" class="form-label">Carrera</label>
									<select class="form-select" th:field="*{student.career}" th:errorclass="'form-control alert-danger'"
										required>
										<option value="">Elige una Carrera</option>
										<option th:each="career : ${careers}" th:value="${career.id}"
											th:text="${career.name}"></option>
									</select>
									<small class="form-text text-danger" 
										th:if="${#fields.hasErrors('student.career')}"
										th:errors="*{student.career}"></small>
								</div>
								<div class="mt-5 text-center" style="text-align: right;">
									<button type="submit" class="btn"
										style="background-color: #18A0FB; color: white">Agregar
										Datos Alumno</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>