<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="utf-8">
<title>Editar Sección</title>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<main>
		<section>
			<div class="container">
				<div class="row justify-content-center align-items-center ">
					<div class="card mx-2 mt-2" style="width: 40rem;">
						<div class="card-body">
							<h5 class="card-title">Editar Datos de la Sección</h5>
							<form th:action="@{'/sections/' + ${section.id} + '/update'}"
								th:object="${section}" method="post"
								class="row g-3 needs-validation" novalidate>
								<div class="mb-3">
									<label for="name" class="form-label">Codigo</label> <input
										type="text" class="form-control" th:field="*{name}" required>
								</div>
								<div class="mb-3">
									<label for="vacancies" class="form-label">Vacantes</label> <input
										type="text" class="form-control" th:field="*{vacancies}"
										required>
								</div>
								<div class="mb-3">
									<label for="startTime" class="form-label">Hora Comienzo</label> <input
										type="text" class="form-control" th:field="*{startTime}"
										required>
								</div>
								<div class="mb-3">
									<label for="endTime" class="form-label">Hora Fin</label> <input
										type="text" class="form-control" th:field="*{endTime}" required>
								</div>
								<div class="mb-3">
									<label for="course" class="form-label">Curso</label> <select
										class="form-select" th:field="*{course}" required>
										<option value="">Elige un Curso</option>
										<option th:each="course : ${courses}" th:value="${course.id}"
											th:text="${course.name}"></option>
									</select>
								</div>

								<div class="mb-3">
									<label for="teacher" class="form-label">Profesor</label> <select
										class="form-select" th:field="*{teacher}" required>
										<option value="">Elige un Profesor</option>
										<option th:each="teacher : ${teachers}" th:value="${teacher.id}"
											th:text="${teacher.firstName + ' ' + teacher.lastName}"></option>
									</select>
								</div>
								<div class="mt-5 text-center" style="text-align: right;">
									<button type="submit" class="btn"
										style="background-color: #18A0FB; color: white">Editar
										Datos de la Sección</button>
								</div>
							</form>
						</div>
					</div>

				</div>

			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>