<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="utf-8">
<title>Lista de Secciones</title>
</head>
<header th:replace="layout/layout :: frag-header"></header>
<section class="px-3">
	<div class="col-md-1 align-self-start mt-5" style="text-align: center;">
		<button class="btn" data-bs-toggle="modal"
			data-bs-target="#staticBackdrop" type="submit"
			style="background-color: #18A0FB; color: white">Agregar</button>
	</div>
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Agregar
						Seccion</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form th:action="@{/sections/save}" th:object="${section}"
						method="post" novalidate>
						<p class="fst-italic" style="color: gray">Para agregar una
							sección registre un curso y un profesor.</p>
						<div class="mb-3">
							<label for="name" class="form-label">Nombre de la Seccion</label>
							<input type="text" class="form-control" th:field="*{name}"
								placeholder="Ejemplo: SS71"
								th:errorclass="'form-control alert-danger'" required><small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>

						<div class="mb-3">
							<label for="vacancies" class="form-label">Vacantes</label> <input
								type="text" class="form-control" th:field="*{vacancies}"
								th:errorclass="'form-control alert-danger'" required><small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vacancies')}"
								th:errors="*{vacancies}"></small>
						</div>

						<div class="mb-3">
							<label for="startTime" class="form-label">Hora Comienzo</label> <input
								type="time" class="form-control" th:field="*{startTime}"
								required>
						</div>

						<div class="mb-3">
							<label for="endTime" class="form-label">Hora Fin</label> <input
								type="time" class="form-control" th:field="*{endTime}" required>
						</div>
						<div class="mb-3">
							<label for="day" class="form-label">Dia</label> <select
								class="form-select" th:field="*{day}"
								th:errorclass="'form-control alert-danger'" required>
								<option selected value="">Elige un dia</option>
								<option th:value="Lunes">Lunes</option>
								<option th:value="Martes">Martes</option>
								<option th:value="Miercoles">Miercoles</option>
								<option th:value="Jueves">Jueves</option>
								<option th:value="Viernes">Viernes</option>
								<option th:value="Sabado">Sabado</option>
								<option th:value="Domingo">Domingo</option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('day')}" th:errors="*{day}"></small>
						</div>

						<div class="mb-3">
							<label for="course" class="form-label">Curso</label> <select
								class="form-select" th:field="*{course}"
								th:errorclass="'form-control alert-danger'" required>
								<option value="">Elige un Curso</option>
								<option th:each="course : ${courses}" th:value="${course.id}"
									th:text="${course.name}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('course')}" th:errors="*{course}"></small>
						</div>

						<div class="mb-3">
							<label for="teacher" class="form-label">Profesor</label> <select
								class="form-select" th:field="*{teacher}"
								th:errorclass="'form-control alert-danger'" required>
								<option value="">Elige un profesor</option>
								<option th:each="teacher : ${teachers}" th:value="${teacher.id}"
									th:text="${teacher.firstName + ' ' + teacher.lastName + ' -  Profesor de:' + ' ' + teacher.career.name}"></option>
							</select><small class="form-text text-danger"
								th:if="${#fields.hasErrors('teacher')}" th:errors="*{teacher}"></small>
						</div>

						<div class="mt-5" style="text-align: right;">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn"
								style="background-color: #18A0FB; color: white">Agregar</button>
						</div>
						<p th:text="${mensaje}" class="form-text text-danger"></p>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>
<hr>
<section class="px-5">
	<div class="d-flex justify-content-end">
		<a href="" class="btn btn-lg disabled" tabindex="-1" role="button"
			id="button1" aria-disabled="true"
			style="background-color: #18A0FB; color: white">Borrar Todo</a>
	</div>
	<table class="table align-middle mb-0 mt-3 bg-white text-center">
		<thead class="bg-light">
			<tr class="table">
				<th scope="col"></th>
				<th scope="col">Seccion</th>
				<th scope="col">Curso</th>
				<th scope="col">Profesor</th>
				<th scope="col">Vacantes</th>
				<th scope="col">Dia</th>
				<th scope="col">Hora Comienzo</th>
				<th scope="col">Hora Fin</th>
				<th scope="col">Acciones</th>
			</tr>
		<tbody>
			<tr th:each="section : ${sections}">
				<td class="text-center"><input class="form-check-input"
					type="checkbox" onclick="javacript:EnableDisableButton(this);"
					th:field="*{sections}" th:value="${section.id}"></td>
				<td th:text="${section.name}"></td>
				<td th:text="${section.course.name}"></td>
				<td
					th:text="${section.teacher.firstName + ' ' + section.teacher.lastName}"></td>
				<td th:text="${section.vacancies}"></td>
				<td th:text="${section.day}"></td>
				<td th:text="${section.startTime}"></td>
				<td th:text="${section.endTime}"></td>
				<td><a class="btn" type="submit" data-bs-toggle="modal"
					th:attr="data-bs-target='#staticBackdrop'+*{section.id}"
					style="background-color: transparent; color: #18A0FB"><i
						class="fa-regular fa-pen-to-square"></i></a>
					<div class="modal fade" th:id="*{'staticBackdrop'+{section.id}}"
						data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title"
										th:id="*{'staticBackdrop'+{section.id}}">Editar Seccion</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body" style="text-align: left;">
									<form th:action="@{'/sections/' + ${section.id} + '/update'}"
										method="post">
										<div class="mb-3">
											<label for="newName" class="form-label">Codigo de la
												sección</label> <input type="text" class="form-control"
												name="newName" th:value="*{section.name}">
										</div>
										<div class="mb-3">
											<label for="newVacancies" class="form-label">Vacantes</label>
											<input type="text" class="form-control" name="newVacancies"
												th:value="*{section.vacancies}">
										</div>
										<div class="mb-3">
											<label for="newStartTime" class="form-label">Hora
												Comienzo</label> <input type="time" class="form-control"
												name="newStartTime" th:value="*{section.startTime}">
										</div>
										<div class="mb-3">
											<label for="newEndTime" class="form-label">Hora Fin</label> <input
												type="time" class="form-control" name="newEndTime"
												th:value="*{section.endTime}">
										</div>
										<div class="mb-3">
											<label for="newDay" class="form-label">Dia</label><select
												class="form-select" name="newDay" required>
												<option selected th:text="*{section.day}"></option>
												<option th:value="Lunes">Lunes</option>
												<option th:value="Martes">Martes</option>
												<option th:value="Miercoles">Miercoles</option>
												<option th:value="Jueves">Jueves</option>
												<option th:value="Viernes">Viernes</option>
												<option th:value="Sabado">Sabado</option>
												<option th:value="Domingo">Domingo</option>
											</select>
										</div>

										<div class="mb-3">
											<label for="newCourse" class="form-label">Curso</label> <select
												class="form-select" name="newCourse" required>
												<option selected th:value="${section.course.id}"
													th:text="*{section.course.name}"></option>
												<option th:each="course : ${courses}"
													th:value="${course.id}" th:text="${course.name}"></option>
											</select>
										</div>

										<div class="mb-3">
											<label for="newTeacher" class="form-label">Profesor</label> <select
												class="form-select" name="newTeacher" required>
												<option selected th:value="${section.teacher.id}"
													th:text="*{section.teacher.firstName + ' ' + section.teacher.lastName + ' - Profesor de: ' + section.teacher.career.name}"></option>
												<option th:each="teacher : ${teachers}"
													th:value="${teacher.id}"
													th:text="${teacher.firstName + ' ' + teacher.lastName + ' - Profesor de: ' + teacher.career.name}"></option>
											</select>
										</div>
										<div class="mt-5" style="text-align: right;">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn"
												style="background-color: #18A0FB; color: white">Editar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div> <a class="btn" type="submit"
					th:href="@{'/sections/' + ${section.id} + '/delete'}"
					style="background-color: transparent; color: #18A0FB"
					onclick="return confirm('¿Estás seguro de eliminar la sección?')"><i
						class="fa-solid fa-trash-can"></i></a></td>
			</tr>
		</tbody>
	</table>
	<div class="row d-flex justify-content-center">
		<div class="col-md-4" style="text-align: center;"></div>
		<div class="col-md-4" style="text-align: center;"></div>
	</div>
</section>
<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>